{%  extends "templates/base.html" %}
{% block title %} Энциклопедия {% endblock %}
{% block homepage %} {{ 'index.html' }} {% endblock %}
{% block page_header %} Энциклопедия {% endblock %}
{% block content %} {% for topic in articles.topics %}
                <div class="col-md-2">
                <h4>{{ topic.title }}</h4>
                <ul>
                {% for article in articles.articles %}
                    {% if article.topic == topic.slug %}
                        <li><a href="{{ article.html }}">{{ article.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
                </div>
            {% endfor %}{% endblock %}
