{%  extends "/templates/base.html" %}
{% block title %} Энциклопедия {% endblock %}
{% block homepage %} {{ '#' }} {% endblock %}
{% block page_header %} Энциклопедия {% endblock %}
{% block content %}
                <div class="container">
                    <div class="row">
                {% for topic in articles.topics %}
                <div class="col-md-4">
                <h4>{{ topic.title }}</h4>
                <ul>
                {% for article in articles.articles %}
                    {% if article.topic == topic.slug %}
                        <li><a href="{{ article.html }}">{{ article.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
                </div>
                {% endfor %}
                    </div>
                </div>
{% endblock %}
